*.class
build/
*~

/generated/Ice/SliceChecksumDictHelper.java
/generated/Ice/SliceChecksumDictHolder.java
/generated/Murmur/ACL.java
/generated/Murmur/ACLHolder.java
/generated/Murmur/ACLListHelper.java
/generated/Murmur/ACLListHolder.java
/generated/Murmur/AMD_Meta_addCallback.java
/generated/Murmur/AMD_Meta_getAllServers.java
/generated/Murmur/AMD_Meta_getBootedServers.java
/generated/Murmur/AMD_Meta_getDefaultConf.java
/generated/Murmur/AMD_Meta_getServer.java
/generated/Murmur/AMD_Meta_getSlice.java
/generated/Murmur/AMD_Meta_getSliceChecksums.java
/generated/Murmur/AMD_Meta_getUptime.java
/generated/Murmur/AMD_Meta_getVersion.java
/generated/Murmur/AMD_Meta_newServer.java
/generated/Murmur/AMD_Meta_removeCallback.java
/generated/Murmur/AMD_Server_addCallback.java
/generated/Murmur/AMD_Server_addChannel.java
/generated/Murmur/AMD_Server_addContextCallback.java
/generated/Murmur/AMD_Server_addUserToGroup.java
/generated/Murmur/AMD_Server_delete.java
/generated/Murmur/AMD_Server_getACL.java
/generated/Murmur/AMD_Server_getAllConf.java
/generated/Murmur/AMD_Server_getBans.java
/generated/Murmur/AMD_Server_getCertificateList.java
/generated/Murmur/AMD_Server_getChannelState.java
/generated/Murmur/AMD_Server_getChannels.java
/generated/Murmur/AMD_Server_getConf.java
/generated/Murmur/AMD_Server_getLog.java
/generated/Murmur/AMD_Server_getLogLen.java
/generated/Murmur/AMD_Server_getRegisteredUsers.java
/generated/Murmur/AMD_Server_getRegistration.java
/generated/Murmur/AMD_Server_getState.java
/generated/Murmur/AMD_Server_getTexture.java
/generated/Murmur/AMD_Server_getTree.java
/generated/Murmur/AMD_Server_getUptime.java
/generated/Murmur/AMD_Server_getUserIds.java
/generated/Murmur/AMD_Server_getUserNames.java
/generated/Murmur/AMD_Server_getUsers.java
/generated/Murmur/AMD_Server_hasPermission.java
/generated/Murmur/AMD_Server_id.java
/generated/Murmur/AMD_Server_isRunning.java
/generated/Murmur/AMD_Server_kickUser.java
/generated/Murmur/AMD_Server_redirectWhisperGroup.java
/generated/Murmur/AMD_Server_registerUser.java
/generated/Murmur/AMD_Server_removeCallback.java
/generated/Murmur/AMD_Server_removeChannel.java
/generated/Murmur/AMD_Server_removeContextCallback.java
/generated/Murmur/AMD_Server_removeUserFromGroup.java
/generated/Murmur/AMD_Server_sendMessage.java
/generated/Murmur/AMD_Server_sendMessageChannel.java
/generated/Murmur/AMD_Server_setACL.java
/generated/Murmur/AMD_Server_setAuthenticator.java
/generated/Murmur/AMD_Server_setBans.java
/generated/Murmur/AMD_Server_setChannelState.java
/generated/Murmur/AMD_Server_setConf.java
/generated/Murmur/AMD_Server_setState.java
/generated/Murmur/AMD_Server_setSuperuserPassword.java
/generated/Murmur/AMD_Server_setTexture.java
/generated/Murmur/AMD_Server_start.java
/generated/Murmur/AMD_Server_stop.java
/generated/Murmur/AMD_Server_unregisterUser.java
/generated/Murmur/AMD_Server_updateRegistration.java
/generated/Murmur/AMD_Server_verifyPassword.java
/generated/Murmur/Ban.java
/generated/Murmur/BanHolder.java
/generated/Murmur/BanListHelper.java
/generated/Murmur/BanListHolder.java
/generated/Murmur/Callback_MetaCallback_started.java
/generated/Murmur/Callback_MetaCallback_stopped.java
/generated/Murmur/Callback_Meta_addCallback.java
/generated/Murmur/Callback_Meta_getAllServers.java
/generated/Murmur/Callback_Meta_getBootedServers.java
/generated/Murmur/Callback_Meta_getDefaultConf.java
/generated/Murmur/Callback_Meta_getServer.java
/generated/Murmur/Callback_Meta_getSlice.java
/generated/Murmur/Callback_Meta_getSliceChecksums.java
/generated/Murmur/Callback_Meta_getUptime.java
/generated/Murmur/Callback_Meta_getVersion.java
/generated/Murmur/Callback_Meta_newServer.java
/generated/Murmur/Callback_Meta_removeCallback.java
/generated/Murmur/Callback_ServerAuthenticator_authenticate.java
/generated/Murmur/Callback_ServerAuthenticator_getInfo.java
/generated/Murmur/Callback_ServerAuthenticator_idToName.java
/generated/Murmur/Callback_ServerAuthenticator_idToTexture.java
/generated/Murmur/Callback_ServerAuthenticator_nameToId.java
/generated/Murmur/Callback_ServerCallback_channelCreated.java
/generated/Murmur/Callback_ServerCallback_channelRemoved.java
/generated/Murmur/Callback_ServerCallback_channelStateChanged.java
/generated/Murmur/Callback_ServerCallback_userConnected.java
/generated/Murmur/Callback_ServerCallback_userDisconnected.java
/generated/Murmur/Callback_ServerCallback_userStateChanged.java
/generated/Murmur/Callback_ServerCallback_userTextMessage.java
/generated/Murmur/Callback_ServerContextCallback_contextAction.java
/generated/Murmur/Callback_ServerUpdatingAuthenticator_getRegisteredUsers.java
/generated/Murmur/Callback_ServerUpdatingAuthenticator_registerUser.java
/generated/Murmur/Callback_ServerUpdatingAuthenticator_setInfo.java
/generated/Murmur/Callback_ServerUpdatingAuthenticator_setTexture.java
/generated/Murmur/Callback_ServerUpdatingAuthenticator_unregisterUser.java
/generated/Murmur/Callback_Server_addCallback.java
/generated/Murmur/Callback_Server_addChannel.java
/generated/Murmur/Callback_Server_addContextCallback.java
/generated/Murmur/Callback_Server_addUserToGroup.java
/generated/Murmur/Callback_Server_delete.java
/generated/Murmur/Callback_Server_getACL.java
/generated/Murmur/Callback_Server_getAllConf.java
/generated/Murmur/Callback_Server_getBans.java
/generated/Murmur/Callback_Server_getCertificateList.java
/generated/Murmur/Callback_Server_getChannelState.java
/generated/Murmur/Callback_Server_getChannels.java
/generated/Murmur/Callback_Server_getConf.java
/generated/Murmur/Callback_Server_getLog.java
/generated/Murmur/Callback_Server_getLogLen.java
/generated/Murmur/Callback_Server_getRegisteredUsers.java
/generated/Murmur/Callback_Server_getRegistration.java
/generated/Murmur/Callback_Server_getState.java
/generated/Murmur/Callback_Server_getTexture.java
/generated/Murmur/Callback_Server_getTree.java
/generated/Murmur/Callback_Server_getUptime.java
/generated/Murmur/Callback_Server_getUserIds.java
/generated/Murmur/Callback_Server_getUserNames.java
/generated/Murmur/Callback_Server_getUsers.java
/generated/Murmur/Callback_Server_hasPermission.java
/generated/Murmur/Callback_Server_id.java
/generated/Murmur/Callback_Server_isRunning.java
/generated/Murmur/Callback_Server_kickUser.java
/generated/Murmur/Callback_Server_redirectWhisperGroup.java
/generated/Murmur/Callback_Server_registerUser.java
/generated/Murmur/Callback_Server_removeCallback.java
/generated/Murmur/Callback_Server_removeChannel.java
/generated/Murmur/Callback_Server_removeContextCallback.java
/generated/Murmur/Callback_Server_removeUserFromGroup.java
/generated/Murmur/Callback_Server_sendMessage.java
/generated/Murmur/Callback_Server_sendMessageChannel.java
/generated/Murmur/Callback_Server_setACL.java
/generated/Murmur/Callback_Server_setAuthenticator.java
/generated/Murmur/Callback_Server_setBans.java
/generated/Murmur/Callback_Server_setChannelState.java
/generated/Murmur/Callback_Server_setConf.java
/generated/Murmur/Callback_Server_setState.java
/generated/Murmur/Callback_Server_setSuperuserPassword.java
/generated/Murmur/Callback_Server_setTexture.java
/generated/Murmur/Callback_Server_start.java
/generated/Murmur/Callback_Server_stop.java
/generated/Murmur/Callback_Server_unregisterUser.java
/generated/Murmur/Callback_Server_updateRegistration.java
/generated/Murmur/Callback_Server_verifyPassword.java
/generated/Murmur/CertificateDerHelper.java
/generated/Murmur/CertificateDerHolder.java
/generated/Murmur/CertificateListHelper.java
/generated/Murmur/CertificateListHolder.java
/generated/Murmur/Channel.java
/generated/Murmur/ChannelHolder.java
/generated/Murmur/ChannelInfo.java
/generated/Murmur/ChannelInfoHolder.java
/generated/Murmur/ChannelListHelper.java
/generated/Murmur/ChannelListHolder.java
/generated/Murmur/ChannelMapHelper.java
/generated/Murmur/ChannelMapHolder.java
/generated/Murmur/ConfigMapHelper.java
/generated/Murmur/ConfigMapHolder.java
/generated/Murmur/ContextChannel.java
/generated/Murmur/ContextServer.java
/generated/Murmur/ContextUser.java
/generated/Murmur/Group.java
/generated/Murmur/GroupHolder.java
/generated/Murmur/GroupListHelper.java
/generated/Murmur/GroupListHolder.java
/generated/Murmur/GroupNameListHelper.java
/generated/Murmur/GroupNameListHolder.java
/generated/Murmur/IdListHelper.java
/generated/Murmur/IdListHolder.java
/generated/Murmur/IdMapHelper.java
/generated/Murmur/IdMapHolder.java
/generated/Murmur/IntListHelper.java
/generated/Murmur/IntListHolder.java
/generated/Murmur/InvalidCallbackException.java
/generated/Murmur/InvalidChannelException.java
/generated/Murmur/InvalidSecretException.java
/generated/Murmur/InvalidServerException.java
/generated/Murmur/InvalidSessionException.java
/generated/Murmur/InvalidTextureException.java
/generated/Murmur/InvalidUserException.java
/generated/Murmur/LogEntry.java
/generated/Murmur/LogEntryHolder.java
/generated/Murmur/LogListHelper.java
/generated/Murmur/LogListHolder.java
/generated/Murmur/Meta.java
/generated/Murmur/MetaCallback.java
/generated/Murmur/MetaCallbackHolder.java
/generated/Murmur/MetaCallbackPrx.java
/generated/Murmur/MetaCallbackPrxHelper.java
/generated/Murmur/MetaCallbackPrxHolder.java
/generated/Murmur/MetaHolder.java
/generated/Murmur/MetaPrx.java
/generated/Murmur/MetaPrxHelper.java
/generated/Murmur/MetaPrxHolder.java
/generated/Murmur/MurmurException.java
/generated/Murmur/NameListHelper.java
/generated/Murmur/NameListHolder.java
/generated/Murmur/NameMapHelper.java
/generated/Murmur/NameMapHolder.java
/generated/Murmur/NetAddressHelper.java
/generated/Murmur/NetAddressHolder.java
/generated/Murmur/PermissionBan.java
/generated/Murmur/PermissionEnter.java
/generated/Murmur/PermissionKick.java
/generated/Murmur/PermissionLinkChannel.java
/generated/Murmur/PermissionMakeChannel.java
/generated/Murmur/PermissionMakeTempChannel.java
/generated/Murmur/PermissionMove.java
/generated/Murmur/PermissionMuteDeafen.java
/generated/Murmur/PermissionRegister.java
/generated/Murmur/PermissionRegisterSelf.java
/generated/Murmur/PermissionSpeak.java
/generated/Murmur/PermissionTextMessage.java
/generated/Murmur/PermissionTraverse.java
/generated/Murmur/PermissionWhisper.java
/generated/Murmur/PermissionWrite.java
/generated/Murmur/Server.java
/generated/Murmur/ServerAuthenticator.java
/generated/Murmur/ServerAuthenticatorHolder.java
/generated/Murmur/ServerAuthenticatorPrx.java
/generated/Murmur/ServerAuthenticatorPrxHelper.java
/generated/Murmur/ServerAuthenticatorPrxHolder.java
/generated/Murmur/ServerBootedException.java
/generated/Murmur/ServerCallback.java
/generated/Murmur/ServerCallbackHolder.java
/generated/Murmur/ServerCallbackPrx.java
/generated/Murmur/ServerCallbackPrxHelper.java
/generated/Murmur/ServerCallbackPrxHolder.java
/generated/Murmur/ServerContextCallback.java
/generated/Murmur/ServerContextCallbackHolder.java
/generated/Murmur/ServerContextCallbackPrx.java
/generated/Murmur/ServerContextCallbackPrxHelper.java
/generated/Murmur/ServerContextCallbackPrxHolder.java
/generated/Murmur/ServerFailureException.java
/generated/Murmur/ServerHolder.java
/generated/Murmur/ServerListHelper.java
/generated/Murmur/ServerListHolder.java
/generated/Murmur/ServerPrx.java
/generated/Murmur/ServerPrxHelper.java
/generated/Murmur/ServerPrxHolder.java
/generated/Murmur/ServerUpdatingAuthenticator.java
/generated/Murmur/ServerUpdatingAuthenticatorHolder.java
/generated/Murmur/ServerUpdatingAuthenticatorPrx.java
/generated/Murmur/ServerUpdatingAuthenticatorPrxHelper.java
/generated/Murmur/ServerUpdatingAuthenticatorPrxHolder.java
/generated/Murmur/TextMessage.java
/generated/Murmur/TextMessageHolder.java
/generated/Murmur/TextureHelper.java
/generated/Murmur/TextureHolder.java
/generated/Murmur/Tree.java
/generated/Murmur/TreeHolder.java
/generated/Murmur/TreeListHelper.java
/generated/Murmur/TreeListHolder.java
/generated/Murmur/TreePrx.java
/generated/Murmur/TreePrxHelper.java
/generated/Murmur/TreePrxHolder.java
/generated/Murmur/User.java
/generated/Murmur/UserHolder.java
/generated/Murmur/UserInfo.java
/generated/Murmur/UserInfoHolder.java
/generated/Murmur/UserInfoMapHelper.java
/generated/Murmur/UserInfoMapHolder.java
/generated/Murmur/UserListHelper.java
/generated/Murmur/UserListHolder.java
/generated/Murmur/UserMapHelper.java
/generated/Murmur/UserMapHolder.java
/generated/Murmur/_AMD_Meta_addCallback.java
/generated/Murmur/_AMD_Meta_getAllServers.java
/generated/Murmur/_AMD_Meta_getBootedServers.java
/generated/Murmur/_AMD_Meta_getDefaultConf.java
/generated/Murmur/_AMD_Meta_getServer.java
/generated/Murmur/_AMD_Meta_getSlice.java
/generated/Murmur/_AMD_Meta_getSliceChecksums.java
/generated/Murmur/_AMD_Meta_getUptime.java
/generated/Murmur/_AMD_Meta_getVersion.java
/generated/Murmur/_AMD_Meta_newServer.java
/generated/Murmur/_AMD_Meta_removeCallback.java
/generated/Murmur/_AMD_Server_addCallback.java
/generated/Murmur/_AMD_Server_addChannel.java
/generated/Murmur/_AMD_Server_addContextCallback.java
/generated/Murmur/_AMD_Server_addUserToGroup.java
/generated/Murmur/_AMD_Server_delete.java
/generated/Murmur/_AMD_Server_getACL.java
/generated/Murmur/_AMD_Server_getAllConf.java
/generated/Murmur/_AMD_Server_getBans.java
/generated/Murmur/_AMD_Server_getCertificateList.java
/generated/Murmur/_AMD_Server_getChannelState.java
/generated/Murmur/_AMD_Server_getChannels.java
/generated/Murmur/_AMD_Server_getConf.java
/generated/Murmur/_AMD_Server_getLog.java
/generated/Murmur/_AMD_Server_getLogLen.java
/generated/Murmur/_AMD_Server_getRegisteredUsers.java
/generated/Murmur/_AMD_Server_getRegistration.java
/generated/Murmur/_AMD_Server_getState.java
/generated/Murmur/_AMD_Server_getTexture.java
/generated/Murmur/_AMD_Server_getTree.java
/generated/Murmur/_AMD_Server_getUptime.java
/generated/Murmur/_AMD_Server_getUserIds.java
/generated/Murmur/_AMD_Server_getUserNames.java
/generated/Murmur/_AMD_Server_getUsers.java
/generated/Murmur/_AMD_Server_hasPermission.java
/generated/Murmur/_AMD_Server_id.java
/generated/Murmur/_AMD_Server_isRunning.java
/generated/Murmur/_AMD_Server_kickUser.java
/generated/Murmur/_AMD_Server_redirectWhisperGroup.java
/generated/Murmur/_AMD_Server_registerUser.java
/generated/Murmur/_AMD_Server_removeCallback.java
/generated/Murmur/_AMD_Server_removeChannel.java
/generated/Murmur/_AMD_Server_removeContextCallback.java
/generated/Murmur/_AMD_Server_removeUserFromGroup.java
/generated/Murmur/_AMD_Server_sendMessage.java
/generated/Murmur/_AMD_Server_sendMessageChannel.java
/generated/Murmur/_AMD_Server_setACL.java
/generated/Murmur/_AMD_Server_setAuthenticator.java
/generated/Murmur/_AMD_Server_setBans.java
/generated/Murmur/_AMD_Server_setChannelState.java
/generated/Murmur/_AMD_Server_setConf.java
/generated/Murmur/_AMD_Server_setState.java
/generated/Murmur/_AMD_Server_setSuperuserPassword.java
/generated/Murmur/_AMD_Server_setTexture.java
/generated/Murmur/_AMD_Server_start.java
/generated/Murmur/_AMD_Server_stop.java
/generated/Murmur/_AMD_Server_unregisterUser.java
/generated/Murmur/_AMD_Server_updateRegistration.java
/generated/Murmur/_AMD_Server_verifyPassword.java
/generated/Murmur/_MetaCallbackDel.java
/generated/Murmur/_MetaCallbackDelD.java
/generated/Murmur/_MetaCallbackDelM.java
/generated/Murmur/_MetaCallbackDisp.java
/generated/Murmur/_MetaCallbackOperations.java
/generated/Murmur/_MetaCallbackOperationsNC.java
/generated/Murmur/_MetaDel.java
/generated/Murmur/_MetaDelD.java
/generated/Murmur/_MetaDelM.java
/generated/Murmur/_MetaDisp.java
/generated/Murmur/_MetaOperations.java
/generated/Murmur/_MetaOperationsNC.java
/generated/Murmur/_ServerAuthenticatorDel.java
/generated/Murmur/_ServerAuthenticatorDelD.java
/generated/Murmur/_ServerAuthenticatorDelM.java
/generated/Murmur/_ServerAuthenticatorDisp.java
/generated/Murmur/_ServerAuthenticatorOperations.java
/generated/Murmur/_ServerAuthenticatorOperationsNC.java
/generated/Murmur/_ServerCallbackDel.java
/generated/Murmur/_ServerCallbackDelD.java
/generated/Murmur/_ServerCallbackDelM.java
/generated/Murmur/_ServerCallbackDisp.java
/generated/Murmur/_ServerCallbackOperations.java
/generated/Murmur/_ServerCallbackOperationsNC.java
/generated/Murmur/_ServerContextCallbackDel.java
/generated/Murmur/_ServerContextCallbackDelD.java
/generated/Murmur/_ServerContextCallbackDelM.java
/generated/Murmur/_ServerContextCallbackDisp.java
/generated/Murmur/_ServerContextCallbackOperations.java
/generated/Murmur/_ServerContextCallbackOperationsNC.java
/generated/Murmur/_ServerDel.java
/generated/Murmur/_ServerDelD.java
/generated/Murmur/_ServerDelM.java
/generated/Murmur/_ServerDisp.java
/generated/Murmur/_ServerOperations.java
/generated/Murmur/_ServerOperationsNC.java
/generated/Murmur/_ServerUpdatingAuthenticatorDel.java
/generated/Murmur/_ServerUpdatingAuthenticatorDelD.java
/generated/Murmur/_ServerUpdatingAuthenticatorDelM.java
/generated/Murmur/_ServerUpdatingAuthenticatorDisp.java
/generated/Murmur/_ServerUpdatingAuthenticatorOperations.java
/generated/Murmur/_ServerUpdatingAuthenticatorOperationsNC.java
/generated/Murmur/_TreeDel.java
/generated/Murmur/_TreeDelD.java
/generated/Murmur/_TreeDelM.java