/*******************************************************************************
 * This file is part of MPAF.
 * 
 * MPAF is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * MPAF is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with MPAF.  If not, see <http://www.gnu.org/licenses/>.
 ******************************************************************************/
/* webkit solution */
::-webkit-input-placeholder { text-align:left; }
/* mozilla solution */
input:-moz-placeholder { text-align:left; }

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;
	font-size: 13px;
	background-color: #828282;
}

.header{
	overflow: auto;
	height: 80px;
	width: 100%;
	background-color: white;
	background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(14,14,14,1) 0%, rgba(38,33,24,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(38,33,24,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(38,33,24,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(38,33,24,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(38,33,24,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(14,14,14,1) 0%,rgba(38,33,24,1) 100%); /* W3C */
}

.footer{
	position: relative;
	height: 180px;
		background: -moz-linear-gradient(top, rgba(38,33,24,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,33,24,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(38,33,24,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(38,33,24,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(38,33,24,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(38,33,24,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	color: #5566BA;

}


.login-div{
	border-radius: 5px;
	padding: 0px 0px 0px 0px;
	background-color: white;
	background: rgb(71,71,71); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,71,71,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(71,71,71,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
}

.login-div div{
	padding: 2px;
	border-radius: 0px 0px 5px 5px;
}

.login-div>div{
	-webkit-box-shadow: 0 4px 4px -4px #000;
	-moz-box-shadow: 0 4px 4px -4px #000;
	box-shadow: 0 4px 4px -4px #000;
	padding: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#BDB5AE), color-stop(.9,#B5B5B5));
}

.login-div p{
	padding: 5px;
	color: #aaa;
	font-size: 8pt;
}

.login-div button{
	color: white;
	padding: 7px;
	border: 2px;
	width: 70px;
	background: rgb(109, 179, 242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109, 179, 242, 1) 0%,
		rgba(84, 163, 238, 1) 39%, rgba(54, 144, 240, 1) 55%,
		rgba(30, 105, 222, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,
		179, 242, 1) ), color-stop(39%, rgba(84, 163, 238, 1) ),
		color-stop(55%, rgba(54, 144, 240, 1) ),
		color-stop(100%, rgba(30, 105, 222, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109, 179, 242, 1) 0%,
		rgba(84, 163, 238, 1) 39%, rgba(54, 144, 240, 1) 55%,
		rgba(30, 105, 222, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109, 179, 242, 1) 0%,
		rgba(84, 163, 238, 1) 39%, rgba(54, 144, 240, 1) 55%,
		rgba(30, 105, 222, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109, 179, 242, 1) 0%,
		rgba(84, 163, 238, 1) 39%, rgba(54, 144, 240, 1) 55%,
		rgba(30, 105, 222, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(109, 179, 242, 1) 0%,
		rgba(84, 163, 238, 1) 39%, rgba(54, 144, 240, 1) 55%,
		rgba(30, 105, 222, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#6db3f2',
		endColorstr='#1e69de', GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
}

.login-div input {
	color: #555;
	-webkit-box-shadow: 0 8px 2px -8px #aaa;
	-moz-box-shadow: 0 8px 2px -8px #aaa;
	box-shadow: 0 8px 2px -8px #aaa;


	padding: 7px;
	border: 1px solid silver;
	border-radius: 5px;
}

.menu {
  	font-size: 12px;
}


a {
	color: #D2E4F1;
}

p {
	padding: 10px;
}

.cswitch {
	display: none;
}

.loggedin, .loggedout {
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
	width: 265px;
}

#cwrapper {
	float: left;
	color: #333;
	height: 350px;
	width: 725px;
	display: inline;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	background-color: #828282;
}

#title {
	font-size: 25px;
	margin: 10px;
	letter-spacing:-10px;
	width: 150px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#555));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#header {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	color: #333;
}
#header *{
	float: left;
}

#footer {
	width: 1000px;
	height: 25px;
	clear: both;
	color: #333;
	text-align: center;
}

ul {
  	float: left;
	margin-top: 20px;
}

ul li { 
	color:#332a21;
	display: inline; 
	padding: 12px;
}

ul li a {
	color:#725d4a;
	font-weight: 900;
	letter-spacing: 3px;
}
a:link, a:visited { 
	text-decoration: none;
}

ul li a:hover {
	color: white;
}

#rightcolumn {
	color: #333;
	height: 350px;
	width: 125px;
	float: left;
}

.admin-panel{
		display: inline-block;
	height: 50px;
	background-color: white;
}
